doctype html
html(lang="en")
  head
    title Merahis
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl", crossorigin="anonymous")
  body
    nav.navbar.navbar-dark.bg-dark.shadow-sm.py-0
      .container
        a.navbar-brand(href="#") merahis-chat
        span.navbar-text.text-white  #{name}
    .container
      .row.justify-content-center
        main.col-10
          div(hx-ws="connect:wss://ctf-netlab-ws-services.dgrttk.easypanel.host/chats")
            form(hx-target="#timeline" hx-swap="beforeend" hx-post="/send")
              input.form-control(type="hidden", name="username", value=name, readonly)
              .mb-3.row
                label(for="txtMessage") Message:
                textarea#txtMessage.form-control(rows="3", name="message", required="true")
              .d-grid.gap-2.col-3.mx-auto.mb-3
                  button.btn.btn-primary.text-center(type="submit") Tweet
          #timeline
          // Display tweets here
          if tweetsMarkup
            != tweetsMarkup
    script(src="https://unpkg.com/htmx.org@1.3.1")
    script(src="https://unpkg.com/hyperscript.org@0.0.5")
    script.
      htmx.on("htmx:afterRequest", (event) => {
        event.preventDefault();
      });
      const socket = new WebSocket("wss://ctf-netlab-ws-services.dgrttk.easypanel.host/chats");
      socket.addEventListener("message", async (event) => {
        const data = JSON.parse(event.data);
        const tweetEl = document.createElement('div');

        let tweet = '<div hx-swap-oob="afterbegin:#timeline">';

        tweet += '<div class="card mb-2 shadow-sm" id="tweet-' + data.id + '">';
        tweet += '<div class="card-body">';

        tweet += '<div class="d-flex">';
        tweet += '<img class="me-4" src="' + data.avatar + '" width="108">';

        tweet += '<div>';
        tweet += '<h5 class="card-title text-muted">';
        tweet += data.username;
        tweet += '<small>' + data.time + '</small>';
        tweet += '</h5>';
        tweet += '<p class="card-text lead mb-2">';
        tweet += data.message;
        tweet += '</p>';
        tweet += '</div>';
        tweet += '</div>';
        tweet += '<button class="btn btn-link text-decoration-none" id="like-' + data.id + '" type="button" hx-post="/like/' + data.id + '">';
        tweet += 'Like (' + data.likes + ')';
        tweet += '</button>';
        tweet += '<button class="btn btn-link ps-0 text-decoration-none" id="retweet-' + data.id + '" type="button" hx-post="/retweet/' + data.id + '">';
        tweet += 'Retweet (' + data.retweets + ')';
        tweet += '</button>';
        tweet += '</div>'; // card-body
        tweet += '</div>'; // card
        tweet += '</div>'; 

        tweetEl.innerHTML = tweet;
        document.querySelector('#timeline').prepend(tweetEl)
      });

    
